<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>The Bulls & Cows Game</title>
	<%- include ('styles.html') %>
</head>
<body>
	<header>
		<ul class="gameHeading">
			<li class="clipart"><img src="../img/bullRight.png" alt="Image of Bull"></li>
			<li class="gameHeading"><a href="home">
				The <div class="bulls">Bulls</div> & <div class="cows">Cows </div><br>Game</li>
			</a><li class="clipart"><img src="../img/cowLeft.png" alt="Image of Bull"></li>
		</ul>
		<section><span>The <div class="bulls">Bulls</div> & <div class="cows">Cows</div><br>Game</span></section>
		<!-- <span><img src="../img/bg.png" alt="Image of game logo"></span> -->
	</header>