<!DOCTYPE html>
<html lang="en">
<%- include('partials/header.ejs'); %>
	<nav style="border: 2px solid black; position: sticky; top: 0px;">
		<ul>
			<li><a class="first" href="home">Home</a></li>
			<li><a class="inFocus" href="single_player">Single Player</a></li>
			<li><a href="system_player">System Player</a></li>
			<!-- <li><a href="">Lalalala</a></li> -->
		</ul>
	</nav>
	<div class="ready">
		<input type="button" value="Begin Game" id="begin" onclick="initiate()">
	</div>
</body>